*.py linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
*.sql linguist-detectable=true
*.json linguist-detectable=true
*.csv linguist-detectable=true
*.zip linguist-detectable=true
*.ipynb linguist-detectable=true
*.pbix linguist-detectable=true
*.xlsx linguist-detectable=true
